@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', 'Sans serif';
    color: #fff;
    align-items: center;
}

.LogoALCID {
    width: 18%;
} 

.contenedor{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.pagina_{
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #005C98, #7146cd);
    position: relative;
    overflow: hidden;
}

.header_nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.header_nav .contenedor{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

p{
    margin-bottom: 25px;
    font-size: 20px;
    
}

.header_nav nav a{
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

.header_{
    margin-top: 150px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.titulo h2 {
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 15px;
    animation: movimiento1 2.5s linear;
}

.titulo .cv-button{
    animation: movimiento1 2.5s linear;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    background: #1A2849;
    padding: 20px;
}

.astro_img{
    animation: movimiento 2.5s linear infinite;
}

.astro_img img{
    width: 600px;
    display: block;
}

.practices-section{
    margin-top: 200px;
    margin-bottom: 100px;
    justify-content: center;
    text-align: center;

}

.contact-section {
    margin-top: 100px;
    justify-content: center;
    text-align: center;
}

.universidad-section {
    margin-top: 90px;
    justify-content: center;
    text-align: center;
}

.links-contact img{
    width: 40px;
}

.footer-pag{
    margin-top: 100px;    
    text-decoration: none;
    justify-content: center;
    text-align: center;
    color: #fff;
}


@keyframes movimiento{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes movimiento1{
    0%{
        transform: translateX(-50px);
    }
    50%{
        transform: translateX(0px);
    }
}